.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 40px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header .text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .underline {
    width: 60%;
    height: 2px;
    margin: 10px auto;
    background-color: #4CAF50;
  }
  
  .inputs .input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputs .input img {
    width: 20px;
    margin-right: 10px;
  }
  
  .inputs input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  
  .submit.gray {
    background-color: #ccc;
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  
  .forgot-password {
    margin-top: 10px;
  }
  
  .forgot-password span {
    color: #4CAF50;
    cursor: pointer;
    text-decoration: underline;
  }
  